@{
    ViewData["Title"] = "我的学习之路";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p style="font-size: 18px;">Follow <a href="https://www.cnblogs.com/renyutao">renyutao</a> learning.</p>
    </div>
